*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.portfolio {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;

  width: 620px;
  margin: 0 auto;
  padding: 0 10px;
}

.portfolio-item {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  width: 100%;
  padding: 50px 0;

  border-bottom: 2px solid #eee;
}

.portfolio-item:last-child {
  border-bottom: none;
}

.portfolio-item__image {
  width: 250px;
  height: 250px;
}

.portfolio-item__description {
  width: 300px;
}

.portfolio-item__name {
  margin: 0;
  margin-bottom: 20px;

  text-transform: uppercase;

  font-size: 18px;
  font-weight: 500;
}

.portfolio-item__features {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.portfolio-item__features li {
  position: relative;

  padding-left: 35px;

  font-weight: normal;
}

.portfolio-item__features li::before {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 25px;
  height: 2px;

  content: "";
  transform: translateY(-50%);

  background-color: #fb565a;
}

.portfolio-item__actions {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio-item__button {
  display: block;

  width: 140px;
  padding: 10px 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #fb565a;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.portfolio-item__button:hover {
  background-color: #d6494d;
}

.portfolio-item__button:active {
  background-color: #b63538;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}
